<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using reCaptcha invisible with express and handlebars</title>
    {{!-- script for reCaptcha invisible --}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            console.log(token);
            document.getElementById("i-recaptcha").submit();
        }
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>